<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>notesApp</title>
    <script src="../src/notesApp.js"></script>
    <script src="../lib/bob.js"></script>
    <script src="../spec/notesAppSpec.js"></script>
    <script src="../src/emoji.js"></script>
    <link rel="stylesheet" 
     type="text/css"
     href="./style.css">
  </head>

  <body>

    <script>

      let note = new Note();

      document.addEventListener("DOMContentLoaded", function() {

        let button = document.getElementById("create")

        button.addEventListener("click", function() {
          let noteContent = document.getElementById("input").value;
          note.createNote(noteContent);
          document.getElementById("input").value = "";
          let bulletPoint = document.getElementById("noteList");
          let newEntry = note.getAbbrevNoteList().slice(-1)[0]

          fetch('https://makers-emojify.herokuapp.com/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              text: newEntry
            })
          })
          .then(res => {
            console.log(res)
            return res.json()
          })
          .then(data => {
            console.log(data)
            document.getElementById("noteList").insertAdjacentHTML('afterend', `<p>${data.emojified_text}</p>`);
          })
        });
      });

    </script>

    <h1>Notes</h1>
    <input type="text" id="input" placeholder="What's on your mind?" style="width: 300px; height: 200px; margin: 0 auto;"></textarea><br>
    <button type="button" id="create">Create</button>
    <ul>
      <h3 id="noteList">Notes:</h3>
    <ul>

  </body>


</html>
