<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>notesApp</title>
    <script src="../src/notesApp.js"></script>
    <script src="../lib/bob.js"></script>
    <script src="../spec/notesAppSpec.js"></script>
    <script src="../src/emoji.js"></script>
    <link rel="stylesheet"
     type="text/css"
     href="./style.css">
  </head>

  <body>

    <script>

      let note = new Note();

      document.addEventListener("DOMContentLoaded", function() {

        let button = document.getElementById("create")

        button.addEventListener("click", function() {
          let noteContent = document.getElementById("input").value;
          note.createNote(noteContent);
          document.getElementById("input").value = "";
          let newEntry = note.getAbbrevNoteList().slice(-1)[0]

          fetch('https://makers-emojify.herokuapp.com/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              text: newEntry
            })
          })
          .then(res => {
            console.log(res)
            return res.json()
          })
          .then(data => {
            console.log(data)
            document.getElementById("noteList").insertAdjacentHTML('afterend', `<a href="#${note.getFullNoteList().length-1}">${data.emojified_text}</a><br>`);
          })
        });

        window.addEventListener("hashchange", function() {
          let index = location.hash.split("#")[1];
          let fullNote = note.getFullNoteList()[index]
          document.getElementById("fullNoteDisplay").innerHTML = `${fullNote}`
        });

      });

    </script>
    <div>
      <img class="img" src="https://i.pinimg.com/originals/a1/3f/da/a13fda894ae4effd998a3691268d16ff.jpg" height="60%" width="100%">
    </div>

    <div class="header">
    <h1>Notes</h1>
    <h2>Insert your musings below</h2>
    </div>

    <div>
    <input type="text" id="input" placeholder="What's on your mind?" style="width: 400px; height: 100px; margin: 0 auto; text-align: center;"></textarea><br>
    <button type="button" id="create">Create</button>

    <h2 id="noteList">Notes:</h2>
    <div id="fullNoteDisplay"></div>
    </div>


  </body>


</html>
