*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #7fddff;
  background-image: url("");
  color: #095a64;
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  color: red;
  margin-top: -40%;
  position: absolute;
}

p {
  color: #053794;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 50%;
  position: relative;
  left: -98%;

}

header {
  padding: 60px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
h1 {
  color: #136461;
  position: relative;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  right: 75%;
  top: -10px;
}

input[type=text] {
  width: 100%;
  padding: 20px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  right: 50%;
}

h3 {
  position: relative;
  right: 85%;
}

button:hover {
  background-color: yellowgreen;
}

button {
  background-color: tomato;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: -68%;
  margin-top: 15%;
  position: relative;
}
